@media (max-width: 1200px) {
    .burger {
        display: none;
    }
    .section {
        width: 960px;
    }
    .number {
        display: none;
    }
}

@media (max-width: 980px) {
    .burger_container {
        width: 100%;
        height: 65px;
        z-index: 999;
    }
    .burger {
        position: absolute;
        right: 20px;
        top: 9px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: block;
    }
    .burger span, .burger span:before, .burger span:after {
        width: 100%;
        position: absolute;
        height: 6px;
        background: white;
        display: block;
        transition: .3s;
        border-radius: 5px;
    }
    .burger span:before {
        content: "";
        top: -20px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .burger span {
        top: 20px;
    }
    .burger span:after {
        content: "";
        bottom: -20px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .burger span.active:before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .burger span.active:after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .burger span.active {
        background: rgba(255, 255, 255, 0);
    }
    .menu_container {
        width: 100%;
        background: #333;
        color: white;
        position: fixed;
        top: -100%;
        transition: top 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menu_container.animate {
        top: 65px;
    }

    .menu_ul {
        display: block;
        text-align: center;
        white-space: normal;
    }

    .menu-items {
        padding-right: 0;
        padding-bottom: 10px;
        font-size: 42px;
    }

    .number {
        display: block;
        text-align: center;
        color: chocolate;
        font-size: 48px;
    }


    .block {
        display: block;
    }

    .block-text {
        padding: 30px;
    }

    .six {
        font-size: 45px;
    }

    .text-six {
        font-size: 35px;
    }

    .section_img {
        display: block;
    }

    .room {
        width: 500px;
    }

    .map_wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        max-width: 1160px;
        z-index: 1;
    }

    .map_wrapper, .map {
        position: initial;
    }


    .map {
        width: 100%;
        margin: 0;
        padding: 45px 20px;
        min-height: auto;
    }


    .box-class {
        width: 400px;
    }

    .box {
        display: inline-block;
    }

    .image {
        height: 90vh;
    }

    .img-icons {
        padding-top: 0;
    }

    .icons-img {
        width: 120px;
    }

    .text-p {
        font-size: 25px;
    }

    .caption {
        font-size: 60px;
    }

    .map_h3 {
        font-size: 30px;
        margin: 20px 30px;
    }
}


@media (max-width: 756px) {
    .image {
        height: 80vh;
    }

    .box {
        display: inline-block;
        margin-top: 0;
    }

    .img-icons {
        padding-top: 0;
    }

    .text-p {
        font-size: 25px;
    }
}
